<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aadarsh Aaryan | Full-Stack Software Developer{% endblock %}</title>
    <meta name="description"
        content="Full-Stack Software Developer building scalable software, AI-powered solutions, and developer communities.">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block head %}{% endblock %}
</head>

<body>

    <div id="global-page-loader" class="global-loader-overlay">
        <div class="loader-content-box">
            <div class="loader-spinner"></div>
            <p class="loader-text">please wait...</p>
        </div>
    </div>

    <div id="mobile-menu" class="mobile-menu">
        <button id="sidebar-close" class="sidebar-close-btn">&times;</button>
        <a href="{{ url_for('main.contacts') }}">Contact Us</a>
    </div>

    <header>
        <nav>
            <ul>
                <li class="">
                    <a href="{{ url_for('main.home') }}">
                        <img src="{{ url_for('static', filename='images/afflux_logo.svg') }}" class="logo"
                            alt="Afflux logo">
                    </a>
                </li>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li class="desktop_nav "><a href="{{ url_for('profile.users') }}">Users</a></li>
                <li class="desktop_nav "><a href="{{ url_for('events.list_events') }}">Events</a></li>
                <li class="desktop_nav "><a href="{{ url_for('certificates.verify_certificate') }}">Credentials</a></li>
                <li class="desktop_nav "><a href="{{ url_for('profile.leaderboard') }}">Leaderboard</a></li>
                <li class="desktop_nav "><a href="{{ url_for('main.contacts') }}">Contact Us</a></li>

                {% if current_user.is_authenticated and current_user.is_admin %}
                <li class="">
                    <a href="{{ url_for('admin.dashboard') }}" class="admin-link"
                        style="color: #38BDF8; font-family: monospace;">// ADMIN_CORE
                    </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="">
                    <a href="{{ url_for('profile.profile', username=current_user.username) }}" style=" font-weight:
                        bolder; color: aqua;">Profile</a>
                </li>
                {% else %}
                <li class=""><a href="{{ url_for('auth.signin') }}" style="font-weight: bolder; color: aqua;">Sign
                        in</a></li>
                {% endif %}

                <li class="mobile_nav">
                    <a href="#" id="mobile-toggle" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}

        <div class="bottom-nav-w">
            <div class="bottom-nav">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile.profile', username=current_user.username) }}"
                    class="bottom-nav-items hidden">
                    <i class="fa-solid fa-user-shield"></i>
                </a>
                {% else %}
                <a href="{{ url_for('auth.signin') }}" class="bottom-nav-items hidden">
                    <i class="fa-solid fa-user-shield"></i>
                </a>
                {% endif %}
                <a href="{{ url_for('profile.users') }}" class="bottom-nav-items hidden">
                    <i class="fa-solid fa-users"></i>
                </a>
                <a href="{{ url_for('profile.leaderboard') }}" class="bottom-nav-items hidden">
                    <i class="fa-solid fa-ranking-star"></i>
                </a>
                <a href="{{ url_for('events.list_events') }}" class="bottom-nav-items hidden">
                    <i class="fa-solid fa-calendar-day"></i>
                </a>
                <a class="bottom-nav-items last_main_nav">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </div>
        </div>

    </main>

    {% block footer %}{% endblock %}

    <div class="last_space"></div>

    <div class="msg_wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div class="notify notify_come">
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>